.aside-filter {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #f5f5f5;

  .heading {
    font-size: 2rem;
    line-height: 30px;
    font-weight: 500;
    color: #1c1c1c;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .your-choose {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.4rem;
      line-height: 27px;
      margin-bottom: 5px;

      span:nth-child(1) {
        color: var(--red);
        font-weight: 500;
      }

      span:nth-child(2) {
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          color: var(--light-gray);
        }
      }
    }

    &-main {
      .choice {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 4px 0;
        cursor: pointer;

        svg {
          color: var(--red);
        }
      }
    }
  }
}
