.product-pagination {
  margin: 20px 0;
  text-align: center;

  .pagination {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .page-item,
  .previous,
  .next {
    width: 28px;
    height: 28px;
    border: 1px solid #ddd;

    background-color: var(--black);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: var(--light-gray);
    }

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  .page-item.selected {
    background-color: var(--light-gray);
    cursor: not-allowed;
  }

  .previous.disabled,
  .next.disabled {
    background-color: #fff;
    color: var(--black);
    cursor: not-allowed;
  }
}
