.admin {
  .button-actions {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
  }

  .button-back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    border-radius: 4px;
    gap: 5px;
    font-size: 1.5rem;
  }
}
