.admin {
  height: 100vh;
  background-color: #eeeeee;
  font-weight: 500;

  &-container {
    display: flex;
    min-height: calc(100vh - var(--admin-header-height));
    background-color: #eee;
  }

  &-content {
    padding: 20px;
    flex: 1;
  }
}
