.admin {
  height: 100vh;
  background-color: #eeeeee;
  font-weight: 500;

  &-container {
    display: flex;
    min-height: calc(100vh - var(--admin-header-height));
    background-color: #eee;
  }

  &-content {
    width: calc(100vw - var(--admin-sidebar-width));
    padding: 20px;
    flex: 1;
  }

  .search-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .btn-add {
      height: auto;
      padding: 10px 16px;
      white-space: nowrap;
      line-height: normal;
      border-radius: 2px;
    }
  }
}
