.product-category {
  &-main {
    margin-top: 25px;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .sidebar {
    padding-right: 10px;
  }

  &-main-container {
    padding: 0 10px;
  }
  .products-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 991px) {
  .product-category {
    &-header-content {
      width: 100%;
    }
  }
}
