.btn-primary {
  position: relative;
  display: inline-block;
  padding: 14px 28px;
  line-height: normal;
  border: 1px solid #1c1c1c;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;
  color: #fff;

  &::before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
      -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: #1c1c1c;
    transition: width 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  }

  &:hover::before {
    left: unset;
    right: 0;
    width: 0;
  }

  &:hover {
    color: var(--black);
  }
}

.btn-secondary {
  height: 46px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 0 10px;
  border: 1px solid #1c1c1c;
  background: #fff;
  color: #1c1c1c;
  line-height: 44px;
  display: block;
  transition: all 0.2s linear;

  &:hover {
    background-color: #1e2022;
    color: #fff;
    border-color: #234466;
  }
}
