.admin {
  .box {
    padding: 10px;
    border-top: 4px solid var(--blue);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    max-height: 2000px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

    &.hide-box {
      max-height: 60px;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;

      button {
        border-radius: 4px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}
