.blog {
  &-main {
    padding-top: 20px;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .blog {
    .news-card-img {
      height: 153px !important;
    }
  }
}

@media screen and (max-width: 991px) {
  .blog {
    &-container {
      grid-template-columns: repeat(1, 1fr);
    }

    .news-card-img {
      width: 150px;
      height: 130px !important;
    }

    .news-card-desc {
      display: block;
      text-align: justify;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
}
