.section-news {
  padding-top: 40px;

  .container {
    padding: 0;
  }

  .news-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .news-block {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .section-news {
    .news-card {
      border-bottom: none;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .news-block {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .section-news {
    .news-card {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      & > a {
        flex-direction: row;
      }

      &-img {
        width: 100px;
        height: 67px !important;
      }
    }
  }
}
