.shopping-cart {
  &-main {
    margin-top: 30px;
  }
  &-heading {
    font-size: 2.6rem;
    line-height: calc(28 / 26);
    text-transform: uppercase;
    letter-spacing: 2.4px;

    span {
      font-size: 1.4rem;
      text-transform: none;
    }
  }

  .empty-cart {
    & > img {
      width: 200px;
      margin: 0 auto;
    }
  }

  .btn-continue {
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .cart-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
  }

  .cart-info {
    &-provisional,
    &-totalprice {
      padding: 20px 0;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
    }

    &-totalprice {
      border: none;

      span:nth-child(2) {
        font-size: 2.2rem;
        color: var(--light-gray);
      }
    }

    .btn-payment,
    .btn-continue-view {
      width: 100%;
      margin-top: 10px;
      height: 50px;
      font-size: 1.4rem;
    }
  }
}
