.product_card {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;

  &-image {
    --height: 300px;
    --padding: 10px;
    padding: var(--padding) 0;
    position: relative;
    height: var(--height);
    overflow: hidden;
  }

  &-image-front,
  &-image-back {
    width: 100%;
    height: calc(100% - calc(var(--padding) * 2));
    object-fit: cover;
    position: absolute;
    top: var(--padding);
    left: 0;
    transition: all 0.25s linear;
  }

  &-image-back {
    opacity: 0;
  }

  &:hover .product_card-image-front {
    opacity: 0;
  }

  &:hover .product_card-image-back {
    opacity: 1;
  }

  .sale_box {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background: #c9d6df;
    position: absolute;
    top: 30px;
    z-index: 11;
    right: 0;
    font-weight: 400;
  }

  &-type {
    font-size: 1.2rem;
    line-height: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #bfbfbf;
    margin-top: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    min-height: 13px;
  }

  &-title {
    font-size: 1.4rem;
    letter-spacing: 2.4px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-price {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 24px;
    margin-top: 4px;

    span {
      margin-left: 6px;
      text-decoration: line-through;
      color: #bbb;
    }
  }

  &-actions {
    position: absolute;
    bottom: -45px;
    width: 100%;
    transition: all 0.2s linear;
  }

  &:hover .product_card-actions {
    bottom: 0;
  }

  &:hover .product_card-type {
    opacity: 0;
  }
}
