.section-login {
  .text-login {
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
  }

  .text-color-primary {
    display: inline-block;
  }
}
