.admin {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: var(--admin-header-height);

    &-shop-name {
      font-size: 3rem;
      font-weight: bold;
      line-height: 1;
      width: calc(var(--admin-sidebar-width) - 15px);
      text-align: center;
      transition: all 0.2s linear;
    }

    &-right {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;

      span {
        line-height: 1;
      }

      svg {
        display: inline-block;
        font-size: 2.2rem;

        &:last-of-type {
          transform: rotate(-90deg);
          transition: all 0.2s linear;
        }
      }

      .dropdown-logout {
        background-color: #fff;
        padding: 10px;
        border-radius: 2px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: calc(100% + 13px);
        right: 0;
        width: 120px;
        display: none;
        transform: translateY(30px);
        transition: all 0.2s linear;
        animation: fadeIn linear 0.3s;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 15px;
        background-color: transparent;
        top: 100%;
        right: 0;
      }

      &:hover .dropdown-logout {
        display: flex;
        transform: translateX(0);
      }

      &:hover svg:last-of-type {
        transform: rotate(0);
      }

      .dropdown-logout:hover {
        background-color: var(--blue);
        transition: all 0.2s linear;
      }
    }
  }
}
