.verify-email {
  .title-head {
    margin-top: 40px;
    font-size: 2.6rem;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }

  .btn-send {
    margin-top: 15px;
    width: 100%;
  }

  .main-content {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
