.admin {
  .order-details {
    .order-info {
      display: flex;
      justify-content: space-around;

      &-left,
      &-right {
        display: flex;
        gap: 30px;
      }

      &-field,
      &-value {
        display: flex;
        flex-direction: column;

        span {
          display: inline-block;
          margin-bottom: 15px;
          min-height: 24px;
        }
      }

      &-field {
        text-align: right;
        font-weight: 600;
      }

      &-value {
        font-weight: 400;
      }
    }
  }
}
