.article {
  margin-top: 30px;
  font-weight: 400;
  color: #1c1c1c;

  .title-head {
    text-align: center;
    font-size: 2.6rem;
    line-height: 28px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #1c1c1c;
  }

  .postby {
    text-align: center;
    font-size: 1.4rem;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    margin-top: 15px;
    color: #676767;
  }

  &-details {
    margin-top: 50px;
  }

  .paragraph {
    margin-bottom: 15px;
    letter-spacing: 0.25px;
  }

  .p-heading {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .p-strong {
    font-weight: bold;
  }

  .p-link {
    color: var(--light-gray);
    transition: all 0.2s linear;
    font-weight: 500;

    &:hover {
      color: #1c1c1c;
    }
  }

  .article-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    background-color: #1c1c1c;

    &-head {
      color: #fff;
      font-weight: 500;
      display: inline-block;
      margin-right: 5px;
    }

    &-right {
      display: flex;
      align-items: center;
    }

    &-link {
      font-size: 12px;
      letter-spacing: 2px;
      color: #fff;
      font-weight: 500;
      display: flex;
      align-items: center;
      transition: all 0.2s linear;

      span {
        line-height: 20px;
        position: relative;
        top: -1.5px;
      }

      &:hover {
        color: #c9d6df;
      }
    }

    .separator {
      content: '';
      display: inline-block;
      position: relative;
      width: 1px;
      height: 12px;
      margin: 0 18px;
      background: rgba(255, 255, 255, 0.8);
      vertical-align: middle;
    }

    svg {
      display: inline-block;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .section-title-head {
    font-size: 2.2rem;
  }
}
