.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0;

  & > * {
    flex: 1;
  }

  &-text {
    font-weight: 500;
    letter-spacing: 0.2rem;

    a {
      font-weight: 700;
      transition: all 0.2s linear;

      @media (hover: hover) {
        &:hover {
          color: var(--light-gray);
        }
      }
    }
  }

  &-bar {
    cursor: pointer;
    font-size: 2.2rem;
  }

  &-logo {
    & > a {
      margin: 0 auto;
      display: block;
      width: 140px;
      height: 70px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-features {
    display: flex;
    justify-content: end;
    align-items: center;

    > li {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -40px;
        width: 100%;
        height: 45px;
        background: 0 0;
        display: none;
        z-index: 8;
      }

      @media (hover: hover) {
        &:hover ul {
          display: block;
        }

        &:hover::before {
          display: block;
        }
      }
    }

    & > li ul {
      position: absolute;
      display: none;
      top: 56px;
      left: 0;
      z-index: 2;
      background: #fff;
      width: 100%;
      min-width: 200px;
      border: 1px solid #efefef;
      border-radius: 0 0 3px 3px;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);

      &::before {
        border: 9px solid transparent;
        border-bottom: 9px solid #efefef;
        margin-left: -9px;
        bottom: 100%;
        left: 20%;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      @media (hover: hover) {
        &:hover::before {
          display: block;
        }
      }
    }

    & > li ul a {
      letter-spacing: normal;
      font-weight: 300;
      display: block;
      padding: 7px 10px;
      color: #1c1c1c;
      text-transform: uppercase;

      @media (hover: hover) {
        &:hover {
          color: #c9d6df;
          background-color: #f7f7f7;
        }
      }
    }

    li a {
      text-transform: uppercase;
      letter-spacing: 2px;
      display: block;
      position: relative;
      padding: 0 15px;
      white-space: nowrap;
      line-height: 24px;
      transition: all 0.2s linear;

      @media (hover: hover) {
        &:hover {
          color: var(--light-gray);
        }
      }
    }
  }
  &-cart img,
  &-search img {
    display: inline-block;
    width: 16px;
    max-width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
  }

  &-cart {
    padding-right: 22px;

    & > a {
      position: relative;
    }
    &-count {
      position: absolute;
      top: -10px;
      width: 20px;
      height: 20px;
      font-size: 1rem;
      background-color: var(--black);
      color: #fff;
      border-radius: 100rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0;
    }
  }
}

.nav {
  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &-items {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  &-link {
    display: block;
    padding: 10px;
    font-weight: 500;
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;

    span {
      display: inline-block;
      margin-left: 5px;
      transform: translateY(2px);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--light-gray);
      }
    }
    &.active {
      color: var(--light-gray);
    }
  }
}

.nav-items {
  &.has-childs {
    position: relative;
  }
  .dropdown-menu,
  .mega-menu {
    position: absolute;
    left: 0;
    top: 43.5px;
    background-color: #fff;
    color: #1c1c1c;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 2px;
    text-transform: none;
    display: none;
    opacity: 0;
    z-index: -1;
  }

  .dropdown-menu {
    width: 220px;
  }

  .dropdown-items {
    a {
      display: block;
      padding: 10px 5px;
      padding-right: 20px;
      line-height: 20px;
      font-weight: 300;
      letter-spacing: 0.25px;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      font-size: 1.4rem;

      @media (hover: hover) {
        &:hover {
          color: var(--light-gray);
        }
      }
    }
  }

  .mega-menu {
    padding: 10px;
    max-width: 1150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .mega-items {
      padding: 10px;
      font-size: 1.4rem;
    }
    .mega-title {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 500;
    }

    ul {
      margin-bottom: 15px;
    }

    li {
      padding-top: 5px;
      line-height: 1.3;
    }

    a {
      display: block;
      font-weight: normal;
      line-height: 18px;
      transition: all 0.2s linear;
    }

    @media (hover: hover) {
      a:hover {
        color: var(--light-gray);
      }
    }
  }

  @media (hover: hover) {
    &:hover .dropdown-menu {
      display: block;
      animation: fadeIn 0.25s linear forwards;
    }

    &:hover .mega-menu {
      animation: fadeIn 0.25s linear forwards;
    }
  }
}

.header {
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
    opacity: 0;
    z-index: -1;
  }

  .overlay.active {
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    z-index: 10;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 970px !important;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 750px !important;
  }
  .top_header {
    &-text,
    &-account,
    &-cart-name {
      display: none;
    }
    &-bar {
      display: block !important;
    }
    &-logo a {
      height: 50px;
    }
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    z-index: 1000;
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;

    &.active {
      transform: translateX(0);
    }
  }

  .nav-menu {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }

  .nav-items {
    padding: 0 10px;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(92, 92, 92, 0.1);
  }

  .nav-link {
    justify-content: space-between;
  }

  .hidden-lg {
    display: block !important;
  }

  .mega-menu,
  .dropdown-menu {
    width: 100% !important;
    position: unset !important;
    display: block !important;
    opacity: 1 !important;
    box-shadow: unset !important;
    animation: unset !important;
    padding-left: 20px;
    overflow: hidden;
    height: 0;
    transition: all 0.2s linear;
  }

  .mega-title {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 !important;
    padding: 10px 0;
  }

  .mega-menu {
    padding: 0 10px !important;

    ul {
      overflow: hidden;
      height: 0;
    }
  }

  .mega-items {
    padding: 0 10px !important;
    ul {
      margin-bottom: 0 !important;
      padding-left: 10px;
    }

    li {
      padding-top: 0 !important;
    }

    ul li a {
      padding: 10px 0;
    }
  }

  .nav-items span {
    height: 20px;
    padding: 0 10px;
  }
}
