.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0;

  & > * {
    flex: 1;
  }

  &-text {
    font-weight: 500;
    letter-spacing: 0.2rem;

    a {
      font-weight: 700;
    }
  }

  &-logo {
    & > a {
      margin: 0 auto;
      display: block;
      width: 140px;
      height: 70px;
    }
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &-features {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > li {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -17px;
        width: 100%;
        height: 25px;
        background: 0 0;
        display: none;
        z-index: 8;
      }

      &:hover ul {
        display: block;
      }

      &:hover::before {
        display: block;
      }
    }

    & > li ul {
      position: absolute;
      display: none;
      top: 56px;
      left: 0;
      z-index: 2;
      background: #fff;
      width: 100%;
      min-width: 200px;
      border: 1px solid #efefef;
      border-radius: 0 0 3px 3px;
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);

      &::before {
        border: 9px solid transparent;
        border-bottom: 9px solid #efefef;
        margin-left: -9px;
        bottom: 100%;
        left: 20%;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:hover::before {
        display: block;
      }
    }

    & > li ul a {
      letter-spacing: normal;
      font-weight: 300;
      display: block;
      padding: 7px 10px;
      color: #1c1c1c;
      text-transform: uppercase;

      @media (hover: hover) {
        &:hover {
          color: #c9d6df;
          background-color: #f7f7f7;
        }
      }
    }

    li a {
      text-transform: uppercase;
      letter-spacing: 2px;
      display: block;
      position: relative;
      padding: 8px 15px;
      white-space: nowrap;
      transition: all 0.2s linear;

      @media (hover: hover) {
        &:hover {
          color: var(--light-gray);
        }
      }
    }
  }
  &-cart img,
  &-search img {
    display: inline-block;
    width: 16px;
    max-width: 100%;
    height: auto;
    position: relative;
  }

  &-search {
    margin-right: 5px;
    cursor: pointer;
  }

  &-cart {
    padding-right: 18px;

    & > a {
      position: relative;
    }
    &-count {
      position: absolute;
      top: -4px;
      right: 2px;
      width: 20px;
      height: 20px;
      font-size: 1rem;
      background-color: var(--black);
      color: #fff;
      border-radius: 100rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0;
    }
  }

  &-search {
    padding: 8px;
  }
}

.nav {
  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &-items {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  &-link {
    display: block;
    padding: 10px;
    font-weight: 500;
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;

    &.active {
      color: var(--light-gray);
    }
  }
}

.nav-items {
  flex: auto;
  &.has-childs {
    position: relative;
  }
  .dropdown-menu,
  .mega-menu {
    position: absolute;
    left: 0;
    top: 43.5px;
    background-color: #fff;
    color: #1c1c1c;
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 2px;
    text-transform: none;
    transform: translateY(40px);
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in;
  }

  .dropdown-menu {
    width: 220px;
  }

  .dropdown-items {
    a {
      font-size: 1.4rem;
      font-weight: 300;
      display: block;
      padding: 10px 5px;
      padding-right: 20px;
      line-height: 20px;
      letter-spacing: 0.25px;
    }
  }

  .mega-menu {
    padding: 10px;
    max-width: 1150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .mega-items {
      padding: 10px;
      font-size: 1.4rem;
    }
    .mega-title {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 500;
    }

    ul {
      margin-bottom: 15px;
    }

    li {
      padding-top: 5px;
      line-height: 1.3;
    }

    a {
      display: block;
      font-weight: normal;
      line-height: 18px;
      transition: all 0.2s linear;
    }

    @media (hover: hover) {
      a:hover {
        color: var(--light-gray);
      }
    }
  }

  @media (hover: hover) {
    &:hover .dropdown-menu,
    &:hover .mega-menu {
      z-index: 10;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.header {
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
    opacity: 0;
  }

  .overlay.active {
    display: block;
    z-index: 999;
    animation: fadeIn 0.5s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 991px) {
  .top_header {
    &-text,
    &-account,
    &-cart-name {
      display: none;
    }
    &-bar {
      font-size: 2.2rem;
    }
    &-bar--inner {
      cursor: pointer;
      display: inline-block;
      padding: 8px;
    }
    &-logo a {
      height: 50px;
    }
  }

  .header {
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 300px;
      background-color: #fff;
      z-index: 1000;
      overflow-y: scroll;
      transform: translateX(-100%);
      transition: all 0.5s ease;

      &.active {
        transform: translateX(0);
      }
    }

    .nav-menu {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }

    .nav-items {
      padding: 0;
      display: block;
      width: 100%;
      border-bottom: 1px solid rgba(92, 92, 92, 0.1);
    }

    .nav-link {
      justify-content: space-between;
    }

    .hidden-lg {
      display: block !important;
    }

    .mega-menu,
    .dropdown-menu {
      transform: translateY(0);
      width: 100%;
      position: unset;
      display: block;
      opacity: 1;
      box-shadow: unset;
      -webkit-animation: unset;
      animation: unset;
      padding-left: 20px;
      overflow: hidden;
      height: 0;
      transition: all 0.2s linear;
    }

    .mega-title {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0 !important;
      padding: 10px 0;
    }

    .mega-menu {
      padding: 0 10px !important;

      ul {
        overflow: hidden;
        height: 0;
      }
    }

    .mega-items {
      padding: 0 10px !important;
      border-bottom: 1px solid #f7f7f7;
      ul {
        margin-bottom: 0 !important;
        padding-left: 10px;
      }

      li {
        padding-top: 0 !important;
      }

      ul li a {
        padding: 10px 0;
      }

      &.active > .mega-submenu {
        height: auto;
      }
    }

    .nav-items.active {
      .dropdown-menu,
      .mega-menu {
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .top_header {
    padding: 10px 5px;

    &-cart {
      padding-right: 10px;
    }
  }

  .top_header-logo {
    & > a {
      width: 100px;
    }
  }
}
