.gototop {
  line-height: 24px;
  font-weight: 500;
  position: fixed;
  bottom: 70px;
  right: -20px;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  transition: all 0.2s linear;

  & > * {
    display: inline-block;
    color: black;
    transition: all 0.2s linear;
  }
  svg {
    position: relative;
    top: 2px;
    right: 0;
    margin-left: 5px;
  }

  @media (hover: hover) {
    &:hover > * {
      color: var(--light-gray);
    }
  }
}
