.tag {
  &-article {
    margin-bottom: 20px;
  }

  &-head {
    font-weight: 500;
  }

  &-link {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 24px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: all 0.2s linear;

    &::before {
      content: "";
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
    }

    &::after {
      content: "";
      background: #fff;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #eee;
      border-top: 13px solid transparent;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.2s linear;
    }

    &:hover {
      color: #fff;
      background-color: var(--light-gray);
    }
    &:hover::after {
      border-left-color: var(--light-gray);
    }
  }
}
