.aside-item {
  ::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #e5e5e5;
  }
  .aside-title {
    color: #1c1c1c;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 10px;
    line-height: 24px;
  }

  .filter-group {
    margin-bottom: 20px;
  }

  .filter-type {
    max-height: 230px;
    height: 100%;
    overflow-y: auto;
  }

  .filter-item {
    position: relative;
    label {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 35px;
      margin-bottom: 2px;
      cursor: pointer;
    }

    label:hover {
      color: var(--light-gray);
    }

    input {
      opacity: 0;
    }

    .custom-input {
      height: 15px;
      width: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .custom-input {
      color: #fff;
    }

    input:checked ~ .custom-input {
      background-color: var(--light-gray);
    }
  }
}
