// form comment
.form {
  &-cmt {
    padding-top: 20px;
    margin-bottom: 10px;
  }

  &-title {
    color: #1c1c1c;
    line-height: 1.4;
    margin: 10px 0;
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.15px;
  }

  &-row {
    width: 100%;
    height: 40px;
  }

  &-btn {
    float: right;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
  }
}
