.news-card {
  padding: 0 10px;
  margin-bottom: 15px;

  &-title {
    color: #1c1c1c;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.67;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    transition: all 0.2s linear;
  }

  &-desc {
    font-size: 1.3rem;
    line-height: 25px;
    letter-spacing: 0.52px;
    margin-bottom: 0;
    color: #1c1c1c;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-weight: 400;
  }

  &-img {
    position: relative;
    overflow: hidden;
    height: 182px;

    img {
      transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
        opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover &-img img {
    transform: scale(1.09);
  }

  &:hover &-title {
    color: var(--light-gray);
  }
}

@media screen and (max-width: 767.98px) {
  .news-card {
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    & > a {
      display: flex;
    }

    &-img {
      width: 100px;
      height: 67px;
      margin-right: 10px;
      flex-shrink: 0;
      border: 1px solid rgba($color: #000000, $alpha: 0.08);
    }

    &-desc {
      display: none;
    }

    &-title {
      font-size: 1.2rem;
    }
  }
}
