@font-face {
  font-family: 'SVN-Gotham';
  src: url('~/assets/fonts/SVN-GothamBook.woff2') format('woff2'),
    url('~/assets/fonts/SVN-GothamBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('~/assets/fonts/SVN-GothamMedium.woff2') format('woff2'),
    url('~/assets/fonts/SVN-GothamMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url('~/assets/fonts/SVN-GothamBold.woff2') format('woff2'),
    url('~/assets/fonts/SVN-GothamBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #1c1c1c;
  --white: #fff;
  --light-gray: #c9d6df;
  --content-width: 1170px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  user-select: none;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: 'SVN-Gotham';
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--black);
  background-color: #fff;
  letter-spacing: 0.25px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.app {
  position: relative;
}

#wrapper {
  width: 100%;
  background-color: var(--white);
}

.container {
  height: 100%;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.text-color-primary {
  color: var(--light-gray);
  transition: all 0.2s linear;
  &:hover {
    color: #1c1c1c;
  }
}

.text-hover-primary {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s linear;
  &:hover {
    color: var(--light-gray);
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.height-auto {
  height: auto !important;
}

.hidden-lg,
.hidden-md {
  display: none;
}

.required {
  color: red;
  font-size: 1.6rem;
  position: relative;
  top: 3px;
}

.w-half {
  width: 50%;
  float: left;
}

.w-full {
  width: 100% !important;
}

.clear {
  clear: both;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.mt-auto {
  margin-top: auto !important;
}

.section-title-head {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  transition: all 0.2s linear;

  strong {
    font-weight: 500;
  }
}

.d-block {
  display: block !important;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 970px !important;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 750px !important;
  }
}
