@font-face {
  font-family: "../src/assets/fonts/SVN-Gotham";
  src: url("../src/assets/fonts/SVN-GothamBook.eot");
  src: url("../src/assets/fonts/SVN-GothamBook.eot?#iefix") format("embedded-opentype"),
    url("../src/assets/fonts/SVN-GothamBook.woff2") format("woff2"),
    url("../src/assets/fonts/SVN-GothamBook.woff") format("woff"),
    url("../src/assets/fonts/SVN-GothamBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "../src/assets/fonts/SVN-Gotham";
  src: url("../src/assets/fonts/SVN-Gotham.eot");
  src: url("../src/assets/fonts/SVN-Gotham.eot?#iefix") format("embedded-opentype"),
    url("../src/assets/fonts/SVN-Gotham.woff2") format("woff2"),
    url("../src/assets/fonts/SVN-Gotham.woff") format("woff"),
    url("../src/assets/fonts/SVN-Gotham.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "../src/assets/fonts/SVN-Gotham";
  src: url("../src/assets/fonts/SVN-GothamBold.eot");
  src: url("../src/assets/fonts/SVN-GothamBold.eot?#iefix") format("embedded-opentype"),
    url("../src/assets/fonts/SVN-GothamBold.woff2") format("woff2"),
    url("../src/assets/fonts/SVN-GothamBold.woff") format("woff"),
    url("../src/assets/fonts/SVN-GothamBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #1c1c1c;
  --white: #fff;
  --light-gray: #c9d6df;
  --content-width: 1170px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: "../src/assets/fonts/SVN-Gotham";
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: var(--black);
  background-color: #fff;
}

#wrapper {
  width: 100%;
  background-color: var(--white);
}

.container {
  height: 100%;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.product_title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.4px;

  & a {
    transition: all 0.2s linear;
    &:hover {
      color: var(--light-gray);
    }
  }

  strong {
    font-weight: 500;
  }
}
