.nav-items .icon-dropdown,
.sidebar-items .icon-dropdown {
  padding: 5px;
  transform: rotate(-90deg);
  transition: all 0.2s linear;
}

.sidebar-items.active {
  .icon-dropdown {
    transform: rotate(0);
  }
}

@media screen and (max-width: 991px) {
  .nav-items .icon-dropdown {
    padding: 5px 10px;
  }

  .nav-items.active {
    & > a > .icon-dropdown {
      transform: rotate(0);
    }
  }

  .mega-items.active {
    .icon-dropdown {
      transform: rotate(0);
    }
  }
}
