@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.section_product {
  padding-top: 40px;

  .title_blog {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;

    & a {
      transition: all 0.2s linear;
      &:hover {
        color: var(--light-gray);
      }
    }

    strong {
      font-weight: 500;
    }
  }
}

.product_block {
  .slick-slide {
    width: 280px !important;
  }

  .slick-slide + .slick-slide {
    margin-left: 10px;
  }

  .product_card {
    cursor: pointer;
    &-image-front,
    &-image-back {
      animation: fadeIn 0.25s linear;
    }
  }
}
