.section_product {
  padding-top: 40px;
}

.product_block {
  .slick-slide {
    // width: 280px !important;
    padding: 0 5px;
  }

  // .slick-slide + .slick-slide {
  //   margin-left: 10px;
  // }
}

.btn-more {
  margin-top: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
}
