.section_product {
  padding-top: 40px;
}

.product_title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.4px;

  strong {
    font-weight: 500;
  }
}

.product_block {
  & .swiper-button-prev,
  & .swiper-button-next {
    color: #1c1c1c !important;
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 100rem;
    -webkit-box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
    box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
  }

  & .swiper-button-prev::after,
  & .swiper-button-next::after {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.btn-more {
  margin-top: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767.98px) {
}
