.policy-content {
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 10px;

  p {
    color: #363f4d;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.25px;
  }
  strong {
    font-weight: 500;
    font-size: 1.6rem;
  }

  a {
    color: #0657a3;
  }
}
