.MuiPaper-root {
  th,
  td {
    font-size: 1.5rem;
    padding: 10px;
  }

  .MuiTableCell-root {
    font-family: 'SVN-Gotham' !important;
    border: 1px solid #ccc;
  }

  .btn-actions {
    & > * {
      font-size: 1.8rem;
      border-radius: 4px;
      padding: 8px 10px;
      vertical-align: middle;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        background-color: rgba($color: #ccc, $alpha: 0.2);
      }
    }
  }
}
