.admin {
  .sidebar {
    min-width: var(--admin-sidebar-width);
    max-width: var(--admin-sidebar-width);
    background-color: var(--admin-gray);
    color: var(--light-gray);
    font-weight: 400;
    font-size: 1.6rem;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    user-select: none;

    &-items.active {
      .sidebar-dropdown {
        display: block;
        height: auto;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      transition: all 0.2s linear;
    }

    &-title.active,
    &-title:has(+ .sidebar-dropdown a.active) {
      background-color: var(--light-gray);
      color: var(--black);
    }

    &-name {
      margin: 5px;
      flex: 1;
    }

    &-dropdown {
      display: none;
      height: 0;
      transition: all 0.2s linear;

      li a {
        display: block;
        padding: 10px 20px;
        padding-left: 35px;
      }
    }

    &-title:hover,
    &-dropdown a:hover {
      background-color: rgba($color: #fff, $alpha: 0.2);
      color: var(--white);
      cursor: pointer;
    }

    &-dropdown a.active {
      color: var(--white);
    }
  }
}
