.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url('~/assets/imgs/evo-blog-banner.jpg');

  .content {
    padding: 60px 20px;
    width: 400px;
    height: 460px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-weight: 500;
      font-size: 2.4rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
